<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".XinQiaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xinqiao"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        tools:targetApi="31">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Xinqiao">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <!-- AIActivity 已废弃，入口迁移至 ConsultationView 浮窗架构 -->
        <activity
            android:name=".activity.VideoPlayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VideoListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ExercisesDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PlayHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FindPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Xinqiao"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Xinqiao"/>
        <activity
            android:name=".activity.ArticleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CategoryListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestReportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ExercisesSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CourseSearchActivity"
            android:exported="true"
            android:label="课程搜索" />
        <activity
            android:name=".activity.RechargeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AppointmentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ConsultantDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MedicalRecordActivity"
            android:exported="false"
            android:label="我的诊疗档案" />
        <activity
            android:name="com.example.xinqiao.activity.ConsultationDetailActivity"
            android:exported="false"
            android:label="咨询详情" />
        <activity
            android:name=".activity.AuthorizationActivity"
            android:exported="false"
            android:label="授权管理" />
        <activity
            android:name=".activity.PrivacySettingActivity"
            android:exported="false"
            android:label="隐私设置" />
        <activity
            android:name=".activity.AccountDeactivationActivity"
            android:exported="false"
            android:label="注销申请" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false"
            android:label="关于心桥" />
        <activity
            android:name=".activity.OrderQueryActivity"
            android:exported="false"
            android:label="订单查询" />
        <activity
            android:name=".activity.EmotionDialogPreviewActivity"
            android:exported="true"
            android:label="情绪卡片预览" />
        <activity
            android:name=".activity.EmotionDiaryPreviewActivity"
            android:exported="true"
            android:label="心情日记预览" />
        <activity
            android:name=".activity.EmotionDiaryActivity"
            android:exported="true"
            android:label="心情日记" />
        <activity
            android:name=".activity.CourseSearchHostActivity"
            android:exported="true"
            android:label="课程搜索预览" />
        <activity
            android:name=".activity.ArticleSearchActivity"
            android:exported="true"
            android:label="@string/article_search_title" />
        <activity
            android:name=".activity.ArticleSearchHostActivity"
            android:exported="true"
            android:label="@string/article_search_preview_title" />
        <activity
            android:name=".activity.ArticleHistoryActivity"
            android:exported="false"
            android:label="阅读历史" />
        <activity
            android:name=".activity.GroupChatActivity"
            android:exported="true"
            android:label="会话" />
        <activity
            android:name=".activity.CounselorScheduleActivity"
            android:exported="false"
            android:label="排班管理" />
        <activity
            android:name=".activity.CounselorApplicationActivity"
            android:exported="false"
            android:label="申请成为咨询师" />
        <activity
            android:name=".activity.CounselorMainActivity"
            android:exported="false"
            android:label="咨询师工作台" />
        <activity
            android:name=".activity.CounselorInfoEditActivity"
            android:exported="false"
            android:label="个人信息管理" />
    </application>

</manifest>
