<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xinqiao">

    <application>
        <activity
            android:name="com.example.xinqiao.activity.ConsultationDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.xinqiao.activity.EmotionDialogPreviewActivity"
            android:exported="true"
            android:label="情绪卡片预览" />
        <activity
            android:name="com.example.xinqiao.activity.EmotionDiaryPreviewActivity"
            android:exported="true"
            android:label="心情日记预览" />
    </application>

</manifest>

